Pyro4>=4.25
serpent>=1.7
https://github.com/ya-mouse/pylibssh2/archive/master.zip#egg=pylibssh2
https://github.com/ya-mouse/python-fsmsock/archive/master.zip#egg=python-fsmsock
https://github.com/ya-mouse/python-fsmipmi/archive/master.zip#egg=python-fsmipmi
https://github.com/ya-mouse/python-fsmssh2/archive/master.zip#egg=python-fsmssh2
